
  .catalog-grid {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .catalog-item {
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  

.catalog-header {
  margin: 20px 0;
  position: relative;
}

.catalog-title {
  font-size: 2.5rem;
  font-weight: bold;
  background: linear-gradient(to right, #000000, #454545);
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.catalog-divider {
  width: 100px;
  height: 4px;
  background-color: #454545;
  margin: 10px auto;
  border-radius: 2px;
}